<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>InkSkill</title>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" style="background-color:#f1f1f1;padding: 20px;border-top: 4px solid #D54E5C;" width="100%">
  <tbody>
  <tr>
    <td align="center">
      <table border="0"  align="center" cellpadding="0" cellspacing="0" style="background-color:#f4f4f4" width="600">
        <tbody>
        <tr>
          <td align="center">
            <table  border="0" cellpadding="0" cellspacing="0" width="100%" style="background:#DEDEDE; padding: 10px;">
              <tbody>
              <tr>
                <td valign="top" style="padding: 5px 20px;color:#fff;border: none #D54E5C;font-family:Arial,serif;font-size:10px;line-height:125%;text-align:left">
                  <img src="{{siteUrl}}/images/logo.png" style="height:45px;width:110px;">
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td align="center">
            <table align="center" border="0" cellpadding="0" cellspacing="0" style="background-color: #f4f4f4" width="600">
              <tbody>
              <tr>
                <td align="center">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" width="560">
                    <tbody>
                    <tr>
                      <td height="25"><br></td>
                    </tr>
                    <tr>
                      <td align="left" style="color:#8c8c8c;font-size:15px;font-family:'Open Sans',Arial,sans-serif;font-weight:bold;line-height:22px;padding-bottom:20px;">
                        <span>{{> @partial-block }}</span>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td valign="top" style="margin:0;padding: 0;background-color:#D54E5C;border: none #D54E5C;text-align:center;">
            <p style="color:#fff;padding:10px;">Inkskill &reg; {{year}}</p>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>

