{{#> mail }}
<div style="text-align: left;">
  <div><span style="line-height: 1.42857;">Your password has been changed</span><br></div>
  <div><br></div>
  <div>Hello, &nbsp;{{username}}</div>
  <div>
    Your password has just been reset. You have been logged in with your new password.
  </div>
  <div><br></div>
  <div>Thanks</div>
  <div>Inkskill Team</div>
</div>
{{/mail}}
