{{#> mail }}
<div style="text-align: left;">
  <div><span style="line-height: 1.42857;">Post Reported</span><br></div>
  <div><br></div>
  <div>Problem: &nbsp;{{problem}}</div>
  <div><br></div>
  <div>
    <div style="line-height: 18.5714px;">
      <span style="line-height: 18.5714px;">
        <a href="{{link}}">See the post</a>
      </span>
    </div>
    <div style="line-height: 18.5714px;"><span style="line-height: 18.5714px;"><br></span></div>
  </div>
  <div>Thanks</div>
  <div>Inkskill Team</div>
</div>
{{/mail}}
