{{#> mail }}
<div style="text-align: left;">
  <div><span style="line-height: 1.42857;">Reset Your Password</span><br></div>
  <div><br></div>
  <div>Hello, &nbsp;{{username}}</div>
  <div>
    You are receiving this because you (or someone else) have requested the reset of the password for your account.
    <br>
    Please <a href="{{link}}">click here</a> to complete the process.
  </div>
  <div><br></div>
  <div>Thanks</div>
  <div>Inkskill Team</div>
</div>
{{/mail}}
